<!DOCTYPE html>
<html>
    <title>Mobasery Library</title>
    <table border="1px" bgcolor="#d4e2ee" cellpadding="20" width="100%" align="middle">
        <tr bgcolor="#cdd1d4">
            <th>Navigation</th>
            <th>Books List</th>
        </tr>
        <tr>
            <td align="middle" width="150">
                <a href="home.html">Home Page</a>
            </td>
            <td rowspan="4" height="580" bgcolor="#f0f0f0">
                <p>
                    <a href="book1.html">
                        <img src="book1.png" alt="The Hunger Games" width="100" height="150" align="middle" />
                        <b>The Hunger Games</b>
                    </a>
                    <hr />
                    <a href="book2.html">
                        <img src="book2.png" alt="Catching Fire" width="100" height="150" align="middle" />
                        <b>Catching Fire</b>
                    </a>
                    <hr />
                    <a href="book3.html">
                        <img src="book3.png" alt="Mockingjay" width="100" height="150" align="middle" />
                        <b>Mockingjay</b>
                    </a>
                </p>
            </td>
        </tr>
        <tr>
            <td align="middle">
                <a href="books.html">Books</a>
            </td>
        </tr>
        <tr>
            <td align="middle">
                <a href="contact.html">Contact Us</a>
            </td>
        </tr>
        <tr>
            <td align="middle">
                <a href="survey.html">Survey</a>
            </td>
        </tr>
    </table>
</html>