<!DOCTYPE html>
<html>
    <title>Mobasery Library</title>
    <table border="1px" bgcolor="#d4e2ee" cellpadding="20" width="100%" align="middle">
        <tr bgcolor="#cdd1d4">
            <th>Navigation</th>
            <th>Contact Us</th>
        </tr>   
        <tr>
            <td align="middle" width="150">
                <a href="home.html">Home Page</a>
            </td>
            <td rowspan="4" height="580" bgcolor="#f0f0f0" align="middle">
                <p>
                    You can find us at :
                    <h4>XR4H+3CG Neidi, Bandar Bushehr, Bushehr Province, Iran</h4>
                </p>
                <iframe width="600" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13964.340613248081!2d50.81982926977537!3d28.95519870000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fb449eeeb3742f1%3A0xf7deaa0e2cf510a6!2sMobasery%20library!5e0!3m2!1sen!2sca!4v1642490631794!5m2!1sen!2sca"> </iframe>
            </td>
        </tr>
        <tr>
            <td align="middle">
                <a href="books.html">Books</a>
            </td>
        </tr>
        <tr>
            <td align="middle">
                <a href="contact.html">Contact Us</a>
            </td>
        </tr>
        <tr>
            <td align="middle">
                <a href="survey.html">Survey</a>
            </td>
        </tr>
    </table>
</html>