<!DOCTYPE html>
<html>
    <title>Mobasery Library</title>
    <table border="1px" bgcolor="#d4e2ee" cellpadding="20" width="100%" align="middle">
        <tr bgcolor="#cdd1d4">
            <th>Navigation</th>
            <th>Home Page</th>
        </tr> 
        <tr>
            <td align="middle" width="150">
                <a href="home.html">Home Page</a>
            </td>
            <td rowspan="4" height="580" bgcolor="#f0f0f0" align="middle">
                <p>
                    Welcome to <b>Mobasery Library</b>! <hr /> <br /> Please select an option from the navigation panel on the left. :)
                </p>
            </td>
        </tr>
        <tr>
            <td align="middle">
                <a href="books.html">Books</a>
            </td>
        </tr>
        <tr>
            <td align="middle">
                <a href="contact.html">Contact Us</a>
            </td>
        </tr>
        <tr>
            <td align="middle">
                <a href="survey.html">Survey</a>
            </td>
        </tr>
    </table>
</html>